*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width:thin;
  scrollbar-color:#263238;
}
::-webkit-scrollbar{
  width:5px;
  background:#f5f5f5;
} 
::-webkit-scrollbar-track{
  border-radius:10px;
}
::-webkit-scrollbar-thumb{
  background:#263238;
}
html,body{
  height:100%;
}
body{
  font-family:"Segoe UI","Century Gothic";
  font-size:16px;
  color:#424242;
  position:relative;
}
div#root{
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-columns: 25% 25% 25% 25%;
}

.news-app-icons{
  cursor: pointer;
}

.topicImage{
  background-image:none;
  transition: background-image 1s linear;
}

.site-nav{
  height:0px;
  transition: height 1s linear;
}

.select_topic{
  display:none;
  transition:display 2s;
}
.fade-in-enter{
  opacity:0;
}
.fade-in-enter-active{
  opacity:1;
  transition:opacity 200ms;
}
.fade-in-exit{
  opacity:1;
}
.fade-in-exit-active{
  opacity:0;
  transition:opacity 200ms;
}